<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Categories</title>
    <link rel="stylesheet" href="style_music_category.css">
</head>

<body>
    <article class="container">
        <h1>Music Categories</h1>
        <section class="category">
            <img src="1st.PNG" alt="">
            <div class="text">
                <p>Even more websites al about website templates on <strong>Just Web Templates</strong>.</p>
                <button class="listen">Listen</button>
                <button class="add">Add</button>
            </div>
        </section>
        <section class="category">
            <img src="2nd.PNG" alt="">
            <div class="text">
                <p>If you are looking for a beautiful and professionally made templates you can find them at <strong>Template Beauty</strong>.</p>
                <button class="listen">Listen</button>
                <button class="add">Add</button>
            </div>
        </section>
        <section class="category">
            <img src="3rd.PNG" alt="">
            <div class="text">
                <p>You can remove any link to our wibesites from this template you're free to use the template without liking back to us.</p>
                <button class="listen">Listen</button>
                <button class="add">Add</button>
            </div>
        </section>
    </article>
</body>

</html>