<div class="order">
    <span class="order-time">{{dateCreated}}</span>
    <span class="order-name">{{}}</span>
    <span class="order-status">Pending</span>
    <a href="order-details.html" class="button order-button">Details</a>
 </div>