/*CSS document*/

nav a {
    color: red;
    font-size: 30px;
    border: 1px solid blueviolet;
}

.nav-item {
    display: inline-block;
    padding: 10px;
}

.nav-green a {
    color: green;
}

a:visited {
    color: blueviolet;
}

a:hover {
    text-decoration: underline;
    color: red;
    background-color: aquamarine;
}

nav li a.nav-orange,
article header h1 {
    color: orange;
}

header+p {
    font-size: 8px;
}

li>a {
    color: greenyellow;
}

article input[type=text] {
    border: 5px solid red;
    opacity: 50%;
}

article input[type=radio] {
    opacity: 50%;
}

ul li ul {
    position: relative;
    top: 100%;
    display: none;
}

nav li:hover ul {
    display: block;
}

p:first-line {
    color: red;
}

nav ul li:nth-child(2n) {
    background-color: hotpink;
}