<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideNav()" >
        <mat-icon>menu</mat-icon>
    </button>
    <div>
        <a routerLink="/"> Sli.do</a>
    </div>
    <ul fxFlex fxLayout fxLayoutGap=10px fxLayoutAlign="end" >
        <li><a [routerLink]="[ '/login']">Login</a></li>
        <li><a [routerLink]="[ '/signUp']">SignUp</a></li>
        <li><a [routerLink]="[ '/user/events']">Events</a></li>
        <li><button >Logout</button></li>
    </ul>
</mat-toolbar>
