<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h1>Registration Form</h1>
        <form #form="ngForm" (submit)="register(form)" >
            <pre>{{form.value | json}}</pre>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="fullName" class="form-control" placeholder="Full Name" 
            pattern="[A-Z][a-z]+\s[A-Z][a-z]+" 
            required 
            ngModel>
          </div>
          <div class="alert alert-danger" *ngIf="form?.controls.fullName?.touched && form?.controls.fullName?.errors?.required">
                This field is required!
          </div>
          <div class="alert alert-danger" *ngIf="form?.controls.fullName?.errors?.pattern">
               Two nemes are needed with space between them and capital first letters!
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control" placeholder="Email Address" type="email" 
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
            ngModel>
          </div>
          <div class="alert alert-danger" *ngIf="form?.controls.email?.touched && form?.controls.email?.errors?.required">
                This field is required!
          </div>
          <div class="alert alert-danger" *ngIf="form?.controls.email?.errors?.pattern">
              Please enter valid email!
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select name="prefix" class="custom-select" style="max-width: 120px;" ngModel>
              <option value="{{number}}" *ngFor="let number of phonePrefix">{{number}}</option>
            </select>
            <input name="phoneNumber" class="form-control" placeholder="Phone number" type="text" 
            pattern="\d{9}"
            required
            ngModel>
          </div>
          <div class="alert alert-danger" *ngIf="form?.controls.phoneNumber?.touched && form?.controls.phoneNumber?.errors?.required">
                This field is required!
          </div>
          <div class="alert alert-danger" *ngIf="form?.controls.phoneNumber?.errors?.pattern">
              Exactly nine digits to be filled in! 
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select name="jobTitle" class="form-control"
            required 
            ngModel>
              <option disabled>Please select one or many values</option>
              <option value="Designer">Designer</option>
              <option value="Manager">Manager</option>
              <option value="Accounting">Accounting</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="form?.controls.jobTitle?.touched && form?.controls.jobTitle?.errors?.required">
                This field is required!
          </div>
          <div ngModelGroup="passwords">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="Create password" type="password" 
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,16}$"
                required
                ngModel>
              </div>
              <div class="alert alert-danger" *ngIf="form?.controls.passwords?.controls.password?.touched 
                                                    && form?.controls.passwords?.controls.password?.errors?.required">
                    This field is required!
              </div>
              <div class="alert alert-danger" *ngIf="form?.controls.passwords?.controls.password?.pattern">
                    Password should contain digits and chars
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="confirmPassword" class="form-control" placeholder="Repeat password" type="password" 
                required 
                ngModel>
              </div>
              <div class="alert alert-danger" *ngIf="form?.controls.passwords?.controls.confirmPassword?.touched 
                                                    && form?.controls.passwords?.controls.confirmPassword?.errors?.required">
                    This field is required!
              </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
          </div>
          <p class="text-center">Have an account? <a href="">Log In</a> </p>
        </form>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>