<form action="/register" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <br>
    <label for="password">Ppssword</label>
    <input type="password" name="password">
    <br>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword">
    <br>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName">
    <br>
    <input type="submit" value="Register" class="btn btn-success">
</form>