<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>    
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <title>Express-Template</title>
</head>
<body>
    <div class="container">
        <ul class="menu">
            <li><a href="/">Index</a></li>
            <li><a href="/about">About</a></li>
            {{#if currentUser}}
                <li>Hello, {{currentUser.username}}</li>
                <li>
                    <form id="logout-form" action="/logout" method="post"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </div>
    <main>
        {{#if globalError}}
            <span>{{globalError}}</span>
        {{/if}}
    {{{body}}}
    </main>
</body>
</html>