.inner {
  color: #000;
  background: color #0ff position repeat;
  width: 34%;
  border: 1px solid #121212;
}
h1 {
  font-weight: bold;
}
h3 {
  font-size: 12px;
}
a {
  text-decoration: none;
}
html {
  background: color #00008b position repeat;
}
html {
  font-size: 12px;
}
html ul {
  list-style: none;
}
