.inner 
    color black 
    background color aqua  position repeat
    width 34%
    border 1px solid  #121212
h1 
    font-weight bold

h3
    font-size 12px
a 
    text-decoration none

html
    background color darkblue position repeat

html
    font-size 12px
    ul 
        list-style none
body 
    
